:root {
    --main-backgound-color: #212121;
    --panel-background-color: #111111;
    --foregound-color: #EEEEEE;
    --accent: #9e3ddc;
    --border: #333333;

    font-family: sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-backgound-color);
    color: var(--foregound-color);
}
